@{
	ViewData["Title"] = "Forgot password";
	ViewData["Description"] = "Forgot passwrod";
}
@model ForgotPasswordViewModel
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
	<div class="container position-relative px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<div class="site-heading">
					<h1>Forgot password</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-8 col-lg-6 col-xl-5">
			<form asp-action="ForgotPassword" asp-controller="Auth" method="post" class="row g-3">
				<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

				@if (TempData[AppConstant.SuccessFormMessage] != null)
				{
					<div class="alert alert-success">@TempData[AppConstant.SuccessFormMessage]</div>
				}

				<div class="col-md-12">
					<label for="email" class="form-label">Email</label>
					<div class="input-group has-validation">
						<span class="input-group-text" id="inputGroupPrepend">@@</span>
						<input type="text" class="form-control" asp-for="Email" id="email" required>
						<span asp-validation-for="Email" class="invalid-feedback"></span>
					</div>
				</div>

				<div class="col-12">
					<button class="btn btn-primary" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
